*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .container {
    background: transparent;
    
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);   
    min-height: 100vh;
} */

.container .navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(5, 0, 71);
    padding: 0px;
}
.navbar .logo {
    display: inline-block;
    margin-left: 30px;
    margin-top: -55px;
}
.navbar ul {
    float: right;
    margin-right: 110px;
    margin-top: 10px;
    
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 12px;
    line-height: 62px;
}
.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 8px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.9s;
    user-select: none;
    transition:all 0.1s ease-in ;
    
}
.navbar ul li a:hover{
    font-size: 23px;
}
.navbar ul li.dropdown {
    position: relative;
}
.navbar ul li .dropdown-menu {
    display: none;
    position: absolute;
    background: rgba(1, 41, 87, 0.95);
    min-width: 140px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 100;
    border-radius: 8px;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    pointer-events: auto;

}

.navbar ul li.dropdown:hover > .dropdown-menu,
.navbar ul li .dropdown-menu:hover {
    display: block;
}

.navbar ul li .dropdown-menu li {
    display: block;
    margin: 0;
    line-height: 40px;
}
.navbar ul li .dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    background: none;
    border-radius: 0;
    font-size: 13px;
    transition: background 0.3s, color 0.3s;

}
.navbar ul li .dropdown-menu li a.mavitakim:hover {
    background: #2600ff;
    color: #fcfcfc;
    transition: calc(0.7s);
}
.navbar ul li .dropdown-menu li a.kirmizi:hover {
    background: #ff0000;
    color: #ffffff;
    transition: calc(0.7s);
}

.navbar ul li .dropdown-menu li a.siyah:hover{
    background: #000000;
    color: #ffffff;
    transition: calc(0.7s);
}
.navbar ul li .dropdown-menu li a.beyaz:hover{
    background: white;
    color: #000000;
    transition: calc(0.7);
}
.navbar ul li.dropdown:hover > .dropdown-menu {
    display: block;
}
.icerik-logo{
    width: 500px;
    height: 500px;
    text-align: center;
    display: block;
    margin: 0 auto;
    
}
.anaYazi{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 80px;
    margin-top: -80px;
}
.alt {
    display: flex;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    color: white;
    opacity: 0.8;
    margin-top: 40px;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}
.alt p{
    color: #fff;
    text-align: right;
    
}
.icerik {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
}
.mavinedir{
    margin-top: 10%;
    margin-left: 5%;
   
}
p{
    color: #fcfcfc;
    font-size: 20px;
    
    
}
.aciklama{
    margin-left: 4%;
}
.cerceve{
    border: 2px solid blue;
    width: fit-content;
    padding: 20px;
    padding-bottom: 30px;
    margin-top: 13% ;   
    margin-left: 5%;
    box-shadow: 0  0 5px 8px rgb(0, 102, 255);
    background-color: rgba(0, 0, 107, 0.377) ;
    border-radius: 20px;
    animation: solcerceve 5s ease both;
}
@keyframes solcerceve{
    0%{
        transform: translateX(-60px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
h2{
    color: #fcfcfc;
    font-size: 25px;
}
.orta-cerceve h2{
    text-align: center;
    margin-bottom: 35%;

}
.icerikmavi{
    display: block;
}
.orta-aciklama{
    margin-top: -16%;
}
.orta-cerceve {
    text-align: center;
    border: 2px solid blue;
    border-radius: 20px;
    max-width: 600px;      
    margin: 0 auto;
    margin-top: -15%;
    padding: 15px;
    padding-top: 90px;
    padding: 80px;
    box-shadow: 0 0 5px 8px rgb(0, 102, 255);
    background-color: rgba(0, 0, 107, 0.377);
    animation: ortacerceve 3s  ease  forwards;
}
@keyframes ortacerceve{
    0%{
        transform: translateY(60px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.araclar{
    color: #fff;
    font-size: 20px;

}
.sag-cerceve{
   border: 2px solid blue;
    border-radius: 20px;
    width: fit-content;
    padding: 20px;
    box-shadow: 0 0 5px 8px rgb(0, 102, 255);
    text-align: left;
    margin: 0 auto;
    display: block;
    margin-left: 75%;
    margin-top: -29%;
    background-color: rgba(0, 0, 107, 0.329);
    animation: sagdan 5s ease forwards;
}
@keyframes sagdan{
    0%{
        transform: translateX(60px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.araclar{
    margin-left: 2%;
}
.siyah-sapkanedir{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 10%;
    animation: slideDown 5s ease forwards;
}
@keyframes slideDown {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.p-siyah{
    text-align: center;
    margin-top: 14px;
}
.siyah-liste{
    display: block;
    color: white;
    font-size: 20px;
    margin-left: 10%
    
}
.siyah-liste li{
    margin-bottom: 5px;
}
.ana-cerceve{
    border: 2px solid rgba(255, 255, 255, 0.671);
    border-radius: 10px;
    width: fit-content;
    margin-left: 40%;
    padding: 10px;
    margin-top: 1%;
    box-shadow: 0 0 2px 3px rgb(255, 255, 255);
    animation: slideDowncerceve 5s ease forwards;
}
@keyframes slideDowncerceve {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY();
        opacity: 1;
    }
}
.icerik-SiyahSapka{
    display: block;
}
.sol-bolum ul li{
    color: #fcfcfc;
    font-size: 20px;
    margin-left: 2%;
}
.sol-bolum{
    margin-left: 2%;
    margin-top: -5%;
    animation: solbolum 5s ease forwards;
}
@keyframes solbolum{
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.sag-bolum ul li{
    color: #fcfcfc;
    font-size: 20px;
    margin-left: 2%;
}
.sag-bolum{
    margin-left: 70%;
    margin-top: -13%;
    animation: sagbolum 5s ease forwards;
}
@keyframes sagbolum{
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.icerik-iletisim form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: fit-content;
}
.icerik-iletisim{
    color: white;
    font-size: 20px;
    border: 2px solid rgba(255, 255, 255, 0.185);
    border-radius: 10px;
    width: fit-content;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background: rgba(255, 255, 255, 0.05); 
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.4);
}
.icerik-iletisim form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.icerik-iletisim input,
.icerik-iletisim select,
.icerik-iletisim textarea {
    padding: 12px 15px;
    border-radius: 8px;
    border: 1.5px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.1);
    color: rgb(255, 255, 255);
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}
.icerik-iletisim select{
    color: black;
}

.icerik-iletisim input:focus,
.icerik-iletisim select:focus,
.icerik-iletisim textarea:focus {
    border-color: #4cafef;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 8px #4cafef;
}


.icerik-iletisim input::placeholder,
.icerik-iletisim textarea::placeholder {
    color: rgba(255,255,255,0.6);
}


.icerik-iletisim label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    cursor: pointer;
}

.icerik-iletisim input.chechbox {
    width: 18px;
    height: 18px;
    accent-color: #003f69; 
}

.icerik-iletisim button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background: #4cafef;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icerik-iletisim button:hover {
    background: #3498db;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
.icerik-iletisim{
    animation: form 5s ease forwards;
}

@keyframes form{
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.icerik-iletisim input:hover,
.icerik-iletisim select:hover,
.icerik-iletisim textarea:hover {
    transform:scale(1.1) ;
}
.Filmlerbaslik{
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 5%;
    background: linear-gradient(90deg, red, blue, green, yellow, purple);
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rgbbaslik 3s infinite linear;
    animation: rgbbaslik 5s ease forwards;
}


@keyframes rgbbaslik {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }

       0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY();
        opacity: 1;
    }
}
.MrRobot-img{
    height: 11%;
    width: 11%;
    float: left;
    border-radius: 20px;
}
.MrRobot h2{
    margin-left: 8%;
}
.MrRobot p{
    margin-left: 6%;
    margin-top: 2%;
   
}
.MrRobot{
    margin-left: 10%;
    margin-top: 3%;
    border: 2px solid rgba(128, 128, 128, 0.616);
    width: 60%;
    border-radius: 20px;
    padding: 20px;
    background-color: #1b1b1b;
    font-size: 20px;
    animation: MrRobot 6s ease forwards;
}
@keyframes MrRobot{
    0%{
        transform: translateX(-60%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.WhoamI img{
    height: 15%;
    width: 15%;
    float: left;
    border-radius: 20px;
}
.WhoamI h2{
    margin-left: 8%;
}
.WhoamI p{
    margin-left: 6%;
    margin-top: 2%;
}
.WhoamI{
    margin-left: 38%;
    margin-top: 3%;
    border: 2px solid rgba(128, 128, 128, 0.616);
    width: fit-content;
    border-radius: 20px;
    padding: 20px;
    background-color: #1b1b1b;
    font-size: 20px;
    animation: whoami 6s ease forwards;
}
@keyframes whoami{
    0%{
        transform: translateX(60%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.Snowden img{
    height: 10%;
    width: 10%;
    float: left;
    border-radius: 20px;
}
.Snowden h2{
    margin-left: 8%;
}
.Snowden p{
    margin-left: 6%;
    margin-top: 2%;
}
.Snowden{
    margin-left: 10%;
    margin-top: 3%;
    border: 2px solid rgba(128, 128, 128, 0.616);
    width: 60%;
    border-radius: 20px;
    padding: 20px;
    background-color: #1b1b1b;
    font-size: 20px;
    animation: Snowden 6s ease forwards;
}
@keyframes Snowden{
    0%{
        transform: translateX(-60%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.Blackhat img{
    height: 10%;
    width: 10%;
    float: left;
    border-radius: 20px;
}
.Blackhat h2{
    margin-left: 8%;
}
.Blackhat p{
    margin-left: 6%;
    margin-top: 2%;
}
.Blackhat{
    margin-left: 38%;
    margin-top: 3%;
    margin-bottom: 5%;
    border: 2px solid rgba(128, 128, 128, 0.616);
    width: 54%;
    border-radius: 20px;
    padding: 20px;
    background-color: #1b1b1b;
    font-size: 20px;
    animation: Blackhat 6s ease forwards;
}
@keyframes Blackhat{
    0%{
        transform: translateX(60%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.beyazSapkabaslik{
    text-align: center;
    margin-top: 13%;
    font-size: 50px;
    -webkit-text-stroke: 1px black; 
    animation: beyazSapka 5s ease forwards;
}

 @keyframes beyazSapka{
    0%{
        transform: translateY(-40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
 }
.beyazCerceve p{
    color: #000000;
    font-size: 20px;

}
.beyazCerceve{
    border: 2px solid rgba(0, 0, 0, 0.322);
    width: fit-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.26);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.699);
    animation: beyazCerceve 5s ease forwards;
}

@keyframes beyazCerceve{
    0%{
        transform: translateY(40px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.beyazSapkasolBaslik{
    font-size: 40px;
    color: rgb(94, 94, 94);
    -webkit-text-stroke: 2px rgb(94, 94, 94); 
}
.beyazulm{
    font-size: 25px;
    color: rgb(63, 63, 63); 
}
.beyazulm li{
    margin-bottom: 5px;
}
.sol-beyaz{
    margin-left: 3%;
    animation: solBeyaz 4s ease forwards;
}

@keyframes solBeyaz {
    0%{
        transform: translateY(40px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.beyazSapkasagbaslik{
    font-size: 30px;
    color: rgb(94, 94, 94);
    -webkit-text-stroke: 2px rgb(94, 94, 94); 
}
.beyazulmz{
    font-size: 25px;
    color: rgb(63, 63, 63); 
}
.beyazulmz li{
    margin-bottom: 10px;
}
.sag-beyaz{
    margin-left: 67%;
    margin-top: -15%;
    animation: sagBeyaz 4s ease forwards;
}

@keyframes sagBeyaz{
    0%{
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.kirmizicerceve{

    border: 2px solid rgb(255, 0, 0);
    width: fit-content;
    padding: 20px;
    padding-bottom: 30px;
    margin-top: 13% ;   
    margin-left: 3%;
    box-shadow: 0  0 5px 8px rgb(189, 0, 0);
    background-color: rgba(107, 0, 0, 0.377) ;
    border-radius: 20px;
    animation: solcerceve 5s ease both;
}
@keyframes solcerceve{
    0%{
        transform: translateX(-60px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.orta-cerceve-kirmizi {
    text-align: center;
    border: 2px solid red;
    border-radius: 20px;
    max-width: 600px;      
    margin: 0 auto;
    margin-top: -15%;
    padding: 15px;
    padding-top: 90px;
    padding: 80px;
    box-shadow: 0 0 5px 8px rgb(190, 0, 0);
    background-color: rgba(107, 0, 0, 0.377);
    animation: ortacerceve 3s  ease  forwards;
}
@keyframes ortacerceve{
    0%{
        transform: translateY(60px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


.sag-cerceve-kirmizi{
   border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
    width: fit-content;
    padding: 20px;
    box-shadow: 0 0 5px 8px rgb(165, 0, 0);
    text-align: left;
    margin: 0 auto;
    display: block;
    margin-left: 70%;
    margin-top: -15%;
    background-color: rgba(107, 0, 0, 0.329);
    animation: sagdan 5s ease forwards;
}
@keyframes sagdan{
    0%{
        transform: translateX(60px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}


